package com.github.vvv1559.algorithms.leetcode;

/*
 * {{ title }}
 *
 * Original text: {{ originalLink }}
{{ description }}
 * */

import com.github.vvv1559.algorithms.annotations.Difficulty;
import com.github.vvv1559.algorithms.annotations.Level;

@Difficulty(Level.{{ difficulty|upper }})
{{ code }}
